<a href="https://colab.research.google.com/github/arinadubinich/NeuralNetworks-spring2020/blob/master/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dubinich Arina, PM-41

# Task 1

In [0]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Dropout, LSTM, Embedding, SpatialDropout1D, Input, Activation
from tensorflow.keras.regularizers import l1
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence


from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('drive/My Drive/data_text_classification.csv', sep=';')

In [98]:
df.head()

                                               Текст Тип текста
0  Стратегическое управление можно представить в ...    Научный
1  Важным шагом успешного решения проблемы разраб...    Научный
2  Разработка методов математического моделирован...    Научный
3  Идея такого подхода состоит в декомпозиции сло...    Научный
4  Декомпозиция осуществляется путем минимизации ...    Научный

In [114]:
X = df['Текст']
Y = pd.get_dummies(df['Тип текста']).values

Shape of label tensor: (160, 3)

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [116]:
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(128,) (128, 3)
(32,) (32, 3)

In [117]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)
print('Shape of data tensor:', sequences_matrix.shape)

Shape of data tensor: (128, 150)

In [0]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [0]:
def getModel():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256)(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(3,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [119]:
model = getModel()
model.summary()
model.compile(loss='categorical_crossentropy',optimizer='adam', metrics=['accuracy'])

Model: "model_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
inputs (InputLayer)          [(None, 150)]             0
_________________________________________________________________
embedding_12 (Embedding)     (None, 150, 50)           50000
_________________________________________________________________
lstm_11 (LSTM)               (None, 64)                29440
_________________________________________________________________
dense_6 (Dense)              (None, 256)               16640
_________________________________________________________________
activation_16 (Activation)   (None, 256)               0
_________________________________________________________________
dropout_8 (Dropout)          (None, 256)               0
_________________________________________________________________
out_layer (Dense)            (None, 3)                 771
_________________________________________________________________
activation_17 (Activation)   (None, 3)                 0
=================================================================
Total params: 96,851
Trainable params: 96,851
Non-trainable params: 0
_________________________________________________________________

In [0]:
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1)

In [120]:
history = model.fit(sequences_matrix, Y_train, epochs=40, batch_size=25,validation_split=0.1,callbacks=[es])

Epoch 1/40
5/5 [==============================] - 1s 140ms/step - loss: 1.0973 - accuracy: 0.3826 - val_loss: 1.0961 - val_accuracy: 0.4615
Epoch 2/40
5/5 [==============================] - 0s 71ms/step - loss: 1.0903 - accuracy: 0.5565 - val_loss: 1.0895 - val_accuracy: 0.5385
Epoch 3/40
5/5 [==============================] - 0s 63ms/step - loss: 1.0795 - accuracy: 0.6522 - val_loss: 1.0786 - val_accuracy: 0.4615
Epoch 4/40
5/5 [==============================] - 0s 65ms/step - loss: 1.0526 - accuracy: 0.6957 - val_loss: 1.0485 - val_accuracy: 0.4615
Epoch 5/40
5/5 [==============================] - 0s 65ms/step - loss: 0.9957 - accuracy: 0.6696 - val_loss: 0.9887 - val_accuracy: 0.4615
Epoch 6/40
5/5 [==============================] - 0s 64ms/step - loss: 0.8726 - accuracy: 0.7130 - val_loss: 0.8941 - val_accuracy: 0.5385
Epoch 7/40
5/5 [==============================] - 0s 67ms/step - loss: 0.7316 - accuracy: 0.7391 - val_loss: 0.7598 - val_accuracy: 0.6154
Epoch 8/40
5/5 [==============================] - 0s 67ms/step - loss: 1.3533 - accuracy: 0.6957 - val_loss: 0.6993 - val_accuracy: 0.6154
Epoch 9/40
5/5 [==============================] - 0s 67ms/step - loss: 0.5648 - accuracy: 0.7913 - val_loss: 0.6628 - val_accuracy: 0.6923
Epoch 10/40
5/5 [==============================] - 0s 65ms/step - loss: 0.5050 - accuracy: 0.9130 - val_loss: 0.5944 - val_accuracy: 0.6923
Epoch 11/40
5/5 [==============================] - 0s 66ms/step - loss: 0.4663 - accuracy: 0.9739 - val_loss: 0.5369 - val_accuracy: 0.8462
Epoch 12/40
5/5 [==============================] - 0s 66ms/step - loss: 0.3844 - accuracy: 0.9913 - val_loss: 0.4888 - val_accuracy: 0.6923
Epoch 13/40
5/5 [==============================] - 0s 66ms/step - loss: 0.2852 - accuracy: 0.9652 - val_loss: 0.4261 - val_accuracy: 0.8462
Epoch 14/40
5/5 [==============================] - 0s 75ms/step - loss: 0.1724 - accuracy: 0.9826 - val_loss: 0.4536 - val_accuracy: 0.8462
Epoch 00014: early stopping

In [122]:
acc = model.evaluate(test_sequences_matrix,Y_test)

1/1 [==============================] - 0s 1ms/step - loss: 0.4818 - accuracy: 0.7812

In [123]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(acc[0],acc[1]))

Test set
  Loss: 0.482
  Accuracy: 0.781

# Task 2 
Download data:  https://ti.arc.nasa.gov/c/6/

In [0]:
df_train = pd.concat([
    pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None),
    pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None),
    pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None),
    pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None)
]).reset_index()
df_train.drop(columns='index', inplace=True)

In [0]:
df_test = pd.concat([
    pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None),
    pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None),
    pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None),
    pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None)
]).reset_index()
df_test.drop(columns='index', inplace=True)

In [0]:
for col in df_train.columns:
    if len(df_train[col].unique()) == 1:
        df_train.drop(col,inplace=True,axis=1)
for col in df_test.columns:
    if len(df_test[col].unique()) == 1:
        df_test.drop(col,inplace=True,axis=1)

In [0]:
df_train.head()

   0   1       2       3       6   ...       18      19   21     24       25
0   1   1 -0.0007 -0.0004  641.82  ...  8138.62  8.4195  392  39.06  23.4190
1   1   2  0.0019 -0.0003  642.15  ...  8131.49  8.4318  392  39.00  23.4236
2   1   3 -0.0043  0.0003  642.35  ...  8133.23  8.4178  390  38.95  23.3442
3   1   4  0.0007  0.0000  642.35  ...  8133.83  8.3682  392  38.88  23.3739
4   1   5 -0.0019 -0.0002  642.37  ...  8133.80  8.4294  393  38.90  23.4044

[5 rows x 19 columns]

In [0]:
normilized_df_train = (df_train-df_train.min())/(df_train.max()-df_train.min())
normilized_df_test = (df_test-df_test.min())/(df_test.max()-df_test.min())

In [0]:
Y_train = normilized_df_train.iloc[:,1]
X_train = normilized_df_train.drop(df_train.columns[[1]], axis=1)

Y_test = normilized_df_test.iloc[:,1]
X_test = normilized_df_test.drop(df_test.columns[[1]], axis=1)

In [0]:
X_train.head()

    0         2         3         6   ...        19        21        24        25
0  0.0  0.459770  0.166667  0.183735  ...  0.363986  0.333333  0.713178  0.724662
1  0.0  0.609195  0.250000  0.283133  ...  0.411312  0.333333  0.666667  0.731014
2  0.0  0.252874  0.750000  0.343373  ...  0.357445  0.166667  0.627907  0.621375
3  0.0  0.540230  0.500000  0.343373  ...  0.166603  0.333333  0.573643  0.662386
4  0.0  0.390805  0.333333  0.349398  ...  0.402078  0.416667  0.589147  0.704502

[5 rows x 18 columns]

In [0]:
 X_train = X_train.to_numpy().reshape(X_train.shape[0], X_train.shape[1], 1)
 X_test = X_test.to_numpy().reshape(X_test.shape[0], X_test.shape[1], 1)

 Y_train = Y_train.to_numpy().reshape(Y_train.shape[0], 1)
 Y_test = Y_test.to_numpy().reshape(Y_test.shape[0], 1)

In [0]:
model = Sequential() 
model.add(LSTM(100, return_sequences=True, input_shape = (24, 1)))
model.add(Dense(1, activation = 'relu'))
model.compile(loss='mse', optimizer='adam' )
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 24, 100)           40800
_________________________________________________________________
dense_3 (Dense)              (None, 24, 1)             101
=================================================================
Total params: 40,901
Trainable params: 40,901
Non-trainable params: 0
_________________________________________________________________

In [0]:
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1)

In [0]:
model.fit(X_train, Y_train, epochs=20, validation_data=(X_test, Y_test), batch_size=32, verbose=1, callbacks=[es])

Epoch 1/20
WARNING:tensorflow:Model was constructed with shape (None, 24, 1) for input Tensor("lstm_3_input:0", shape=(None, 24, 1), dtype=float32), but it was called on an input with incompatible shape (None, 18, 1).
WARNING:tensorflow:Model was constructed with shape (None, 24, 1) for input Tensor("lstm_3_input:0", shape=(None, 24, 1), dtype=float32), but it was called on an input with incompatible shape (None, 18, 1).
2576/2579 [============================>.] - ETA: 0s - loss: 0.0273WARNING:tensorflow:Model was constructed with shape (None, 24, 1) for input Tensor("lstm_3_input:0", shape=(None, 24, 1), dtype=float32), but it was called on an input with incompatible shape (32, 18, 1).
2579/2579 [==============================] - 43s 17ms/step - loss: 0.0273 - val_loss: 0.0364
Epoch 2/20
2579/2579 [==============================] - 42s 16ms/step - loss: 0.0222 - val_loss: 0.0356
Epoch 3/20
2579/2579 [==============================] - 42s 16ms/step - loss: 0.0213 - val_loss: 0.0365
Epoch 00003: early stopping