<a href="https://colab.research.google.com/github/arinadubinich/NeuralNetworks-spring2020/blob/master/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dubinich Arina, PM-41

# Task 1

In [0]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Dropout, LSTM, Embedding, SpatialDropout1D, Input, Activation, BatchNormalization
from tensorflow.keras.regularizers import l1, l2
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence


from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('drive/My Drive/data_text_classification.csv', sep=';')

In [0]:
df.head()

                                               Текст Тип текста
0  Стратегическое управление можно представить в ...    Научный
1  Важным шагом успешного решения проблемы разраб...    Научный
2  Разработка методов математического моделирован...    Научный
3  Идея такого подхода состоит в декомпозиции сло...    Научный
4  Декомпозиция осуществляется путем минимизации ...    Научный

In [0]:
X = df['Текст']
Y = pd.get_dummies(df['Тип текста']).values

Shape of label tensor: (160, 3)

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [0]:
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(128,) (128, 3)
(32,) (32, 3)

In [0]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)
print('Shape of data tensor:', sequences_matrix.shape)

Shape of data tensor: (128, 150)

In [0]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [0]:
def getModel():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256)(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(3,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [0]:
model = getModel()
model.summary()
model.compile(loss='categorical_crossentropy',optimizer='adam', metrics=['accuracy'])

Model: "model_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
inputs (InputLayer)          [(None, 150)]             0
_________________________________________________________________
embedding_12 (Embedding)     (None, 150, 50)           50000
_________________________________________________________________
lstm_11 (LSTM)               (None, 64)                29440
_________________________________________________________________
dense_6 (Dense)              (None, 256)               16640
_________________________________________________________________
activation_16 (Activation)   (None, 256)               0
_________________________________________________________________
dropout_8 (Dropout)          (None, 256)               0
_________________________________________________________________
out_layer (Dense)            (None, 3)                 771
_________________________________________________________________
activation_17 (Activation)   (None, 3)                 0
=================================================================
Total params: 96,851
Trainable params: 96,851
Non-trainable params: 0
_________________________________________________________________

In [0]:
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1)

In [0]:
history = model.fit(sequences_matrix, Y_train, epochs=40, batch_size=25,validation_split=0.1,callbacks=[es])

Epoch 1/40
5/5 [==============================] - 1s 140ms/step - loss: 1.0973 - accuracy: 0.3826 - val_loss: 1.0961 - val_accuracy: 0.4615
Epoch 2/40
5/5 [==============================] - 0s 71ms/step - loss: 1.0903 - accuracy: 0.5565 - val_loss: 1.0895 - val_accuracy: 0.5385
Epoch 3/40
5/5 [==============================] - 0s 63ms/step - loss: 1.0795 - accuracy: 0.6522 - val_loss: 1.0786 - val_accuracy: 0.4615
Epoch 4/40
5/5 [==============================] - 0s 65ms/step - loss: 1.0526 - accuracy: 0.6957 - val_loss: 1.0485 - val_accuracy: 0.4615
Epoch 5/40
5/5 [==============================] - 0s 65ms/step - loss: 0.9957 - accuracy: 0.6696 - val_loss: 0.9887 - val_accuracy: 0.4615
Epoch 6/40
5/5 [==============================] - 0s 64ms/step - loss: 0.8726 - accuracy: 0.7130 - val_loss: 0.8941 - val_accuracy: 0.5385
Epoch 7/40
5/5 [==============================] - 0s 67ms/step - loss: 0.7316 - accuracy: 0.7391 - val_loss: 0.7598 - val_accuracy: 0.6154
Epoch 8/40
5/5 [==============================] - 0s 67ms/step - loss: 1.3533 - accuracy: 0.6957 - val_loss: 0.6993 - val_accuracy: 0.6154
Epoch 9/40
5/5 [==============================] - 0s 67ms/step - loss: 0.5648 - accuracy: 0.7913 - val_loss: 0.6628 - val_accuracy: 0.6923
Epoch 10/40
5/5 [==============================] - 0s 65ms/step - loss: 0.5050 - accuracy: 0.9130 - val_loss: 0.5944 - val_accuracy: 0.6923
Epoch 11/40
5/5 [==============================] - 0s 66ms/step - loss: 0.4663 - accuracy: 0.9739 - val_loss: 0.5369 - val_accuracy: 0.8462
Epoch 12/40
5/5 [==============================] - 0s 66ms/step - loss: 0.3844 - accuracy: 0.9913 - val_loss: 0.4888 - val_accuracy: 0.6923
Epoch 13/40
5/5 [==============================] - 0s 66ms/step - loss: 0.2852 - accuracy: 0.9652 - val_loss: 0.4261 - val_accuracy: 0.8462
Epoch 14/40
5/5 [==============================] - 0s 75ms/step - loss: 0.1724 - accuracy: 0.9826 - val_loss: 0.4536 - val_accuracy: 0.8462
Epoch 00014: early stopping

In [0]:
acc = model.evaluate(test_sequences_matrix,Y_test)

1/1 [==============================] - 0s 1ms/step - loss: 0.4818 - accuracy: 0.7812

In [0]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(acc[0],acc[1]))

Test set
  Loss: 0.482
  Accuracy: 0.781

# Task 2 
Download data:  https://ti.arc.nasa.gov/c/6/

In [0]:
 df_train = pd.concat([
     pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None),
     #pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None),
     #pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None),
     #pd.read_csv('drive/My Drive/CMAPSSData/train_FD001.txt', sep = ' ', header=None)
 ]).reset_index()
 df_train.drop(columns='index', inplace=True)

In [0]:
df_test = pd.concat([
    pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None),
    #pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None),
    #pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None),
    #pd.read_csv('drive/My Drive/CMAPSSData/test_FD001.txt', sep = ' ', header=None)
]).reset_index()
df_test.drop(columns='index', inplace=True)

In [0]:
df_test_target = pd.concat([
     pd.read_csv('drive/My Drive/CMAPSSData/RUL_FD001.txt', sep = ' ', header=None),
     #pd.read_csv('drive/My Drive/CMAPSSData/RUL_FD001.txt', sep = ' ', header=None),
     #pd.read_csv('drive/My Drive/CMAPSSData/RUL_FD001.txt', sep = ' ', header=None),
     #pd.read_csv('drive/My Drive/CMAPSSData/RUL_FD001.txt', sep = ' ', header=None)
 ]).reset_index()

In [0]:
df_train.fillna(0, inplace=True);
df_test.fillna(0, inplace=True)

In [0]:
cols = [ k for k in df_train.columns if df_train[k].nunique() == 1]
df_train.drop(cols, inplace=True, axis=1)

cols = [ k for k in df_test.columns if df_test[k].nunique() == 1]
df_test.drop(cols, inplace=True, axis=1)

In [196]:
df_train.head()

   0   1       2       3       6   ...       18      19   21     24       25
0   1   1 -0.0007 -0.0004  641.82  ...  8138.62  8.4195  392  39.06  23.4190
1   1   2  0.0019 -0.0003  642.15  ...  8131.49  8.4318  392  39.00  23.4236
2   1   3 -0.0043  0.0003  642.35  ...  8133.23  8.4178  390  38.95  23.3442
3   1   4  0.0007  0.0000  642.35  ...  8133.83  8.3682  392  38.88  23.3739
4   1   5 -0.0019 -0.0002  642.37  ...  8133.80  8.4294  393  38.90  23.4044

[5 rows x 19 columns]

In [0]:
def normilize(df_train, df_test):
  df_train_norm = (df_train-df_train.mean())/df_train.std()
  df_train_norm[0] = df_train[0]
  df_train_norm[1] = df_train[1]
  df_test_norm = (df_test-df_train.mean())/df_train.std()
  df_test_norm[0] = df_test[0]
  df_test_norm[1] = df_test[1]

  return df_train_norm, df_test_norm

In [0]:
df_train, df_test = normilize(df_train, df_test)

In [199]:
df_train.head()

   0   1         2         3   ...        19        21        24        25
0   1   1 -0.315972 -1.372920  ... -0.603801 -0.781691  1.348460  1.194398
1   1   2  0.872701 -1.031695  ... -0.275845 -0.781691  1.016503  1.236892
2   1   3 -1.961827  1.015652  ... -0.649128 -2.073044  0.739873  0.503411
3   1   4  0.324083 -0.008022  ... -1.971617 -0.781691  0.352590  0.777773
4   1   5 -0.864590 -0.690471  ... -0.339837 -0.136014  0.463242  1.059526

[5 rows x 19 columns]

In [0]:
max_id = max(df_train[0])

In [0]:
len_seqs = [df_train[0].values.tolist().count(i) for i in range(1, max_id + 1)]

In [0]:
X_train = [df_train[df_train[0] == k] for k in  range(1, max_id + 1)]
X_test = [df_test[df_test[0] == k] for k in  range(1, max_id + 1)]

In [0]:
Y_train = [X_train[k][1] for k in range(max_id)]
RUL = [max(Y_train[k]) for k in range(max_id)]
Y_train = [-Y_train[k] + RUL[k] for k in range(max_id)]

In [0]:
Y_test = df_test_target[0]

In [0]:
X_train = [X_train[k].drop([0,1],axis=1) for k in range(max_id)]
X_test = [X_test[k].drop([0,1],axis=1) for k in range(max_id)]

In [0]:
idx  = sorted(range(max_id), key  = lambda k: -len_seqs[k])

In [0]:
def sort(data, order):
  data = [data[i] for i in order]
  return data

In [0]:
X_train = sort(X_train, idx)
Y_train = sort(Y_train, idx)
len_seqs = sort(len_seqs, idx)

In [0]:
batch_size = 20

In [0]:
batches = int(len(X_train)/batch_size)
padding = [len_seqs[i*batch_size]  for i in range(batches) ]
X_train_pad = [np.vstack((X_train[k],np.zeros((padding[int(k / batch_size)]-X_train[k].shape[0],X_train[k].shape[1])))) for k in range(max_id)]
Y_train_pad = [np.hstack((Y_train[k],np.zeros((padding[int(k / batch_size)]-Y_train[k].shape[0])))) for k in range(max_id)]

In [0]:
X_test_pad = [np.vstack((X_test[k],np.zeros((padding_test[int(k / batch_size)]-X_train[k].shape[0],X_train[k].shape[1])))) for k in range(max_id)]

In [0]:
def train_generator(x,y,batch_size):
    batches = int(len(x)/batch_size)
    I = np.random.randint(batches)
    while True:
        I = I +1
        if I >= batches:
            I = 0
        sequence_length = x[I].shape[0]
        x_train = np.zeros((batch_size,sequence_length,x[I].shape[1]))
        y_train = np.zeros((batch_size,sequence_length,1))
        for j in range(batch_size):
            x_train[j] = x[j]
            y_train[j, :, :] = np.reshape(y[j],(1448,1))
        yield x_train, y_train

In [115]:
model = Sequential() 
model.add(LSTM(200, return_sequences=True, dropout=0.1, input_shape=(None, 17), kernel_regularizer=l2(0.1), bias_regularizer=l2(0.1), recurrent_regularizer=l2(0.1)))
model.add(BatchNormalization())
model.add(Dropout(0.3))
model.add(Dense(50, kernel_regularizer=l2(0.1), bias_regularizer=l2(0.1)))
model.add(BatchNormalization())
model.add(Dropout(0.3))
model.add(Dense(1, kernel_regularizer=l2(0.1), bias_regularizer=l2(0.1), activation = 'relu'))

model.compile(loss='mse', optimizer='adam' )
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, None, 200)         174400
_________________________________________________________________
batch_normalization_2 (Batch (None, None, 200)         800
_________________________________________________________________
dropout_2 (Dropout)          (None, None, 200)         0
_________________________________________________________________
dense_2 (Dense)              (None, None, 50)          10050
_________________________________________________________________
batch_normalization_3 (Batch (None, None, 50)          200
_________________________________________________________________
dropout_3 (Dropout)          (None, None, 50)          0
_________________________________________________________________
dense_3 (Dense)              (None, None, 1)           51
=================================================================
Total params: 185,501
Trainable params: 185,001
Non-trainable params: 500
_________________________________________________________________

In [116]:
model.fit_generator(train_generator(X_train_pad, Y_train_pad, batch_size), steps_per_epoch = batch_size, epochs=50, verbose=1)

Epoch 1/50
20/20 [==============================] - 38s 2s/step - loss: 19897.2148
Epoch 2/50
20/20 [==============================] - 39s 2s/step - loss: 19098.8047
Epoch 3/50
20/20 [==============================] - 38s 2s/step - loss: 18691.2656
Epoch 4/50
20/20 [==============================] - 39s 2s/step - loss: 18288.0176
Epoch 5/50
20/20 [==============================] - 38s 2s/step - loss: 17901.3223
Epoch 6/50
20/20 [==============================] - 38s 2s/step - loss: 17505.7773
Epoch 7/50
20/20 [==============================] - 38s 2s/step - loss: 17093.7070
Epoch 8/50
20/20 [==============================] - 40s 2s/step - loss: 16664.7031
Epoch 9/50
20/20 [==============================] - 43s 2s/step - loss: 16218.3652
Epoch 10/50
20/20 [==============================] - 41s 2s/step - loss: 15759.7158
Epoch 11/50
20/20 [==============================] - 40s 2s/step - loss: 15299.5518
Epoch 12/50
20/20 [==============================] - 40s 2s/step - loss: 14804.9902
Epoch 13/50
20/20 [==============================] - 40s 2s/step - loss: 14308.8799
Epoch 14/50
20/20 [==============================] - 40s 2s/step - loss: 13800.1152
Epoch 15/50
20/20 [==============================] - 40s 2s/step - loss: 13283.6377
Epoch 16/50
20/20 [==============================] - 40s 2s/step - loss: 12764.4160
Epoch 17/50
20/20 [==============================] - 40s 2s/step - loss: 12234.2373
Epoch 18/50
20/20 [==============================] - 40s 2s/step - loss: 11700.0684
Epoch 19/50
20/20 [==============================] - 40s 2s/step - loss: 11168.8809
Epoch 20/50
20/20 [==============================] - 40s 2s/step - loss: 10635.2852
Epoch 21/50
20/20 [==============================] - 40s 2s/step - loss: 10107.1348
Epoch 22/50
20/20 [==============================] - 40s 2s/step - loss: 9577.2236
Epoch 23/50
20/20 [==============================] - 40s 2s/step - loss: 9057.9521
Epoch 24/50
20/20 [==============================] - 40s 2s/step - loss: 8545.3115
Epoch 25/50
20/20 [==============================] - 40s 2s/step - loss: 8035.5000
Epoch 26/50
20/20 [==============================] - 40s 2s/step - loss: 7542.2178
Epoch 27/50
20/20 [==============================] - 40s 2s/step - loss: 7056.2568
Epoch 28/50
20/20 [==============================] - 40s 2s/step - loss: 6592.2554
Epoch 29/50
20/20 [==============================] - 40s 2s/step - loss: 6140.5303
Epoch 30/50
20/20 [==============================] - 40s 2s/step - loss: 5711.5122
Epoch 31/50
20/20 [==============================] - 40s 2s/step - loss: 5283.4614
Epoch 32/50
20/20 [==============================] - 40s 2s/step - loss: 4884.0654
Epoch 33/50
20/20 [==============================] - 40s 2s/step - loss: 4496.0532
Epoch 34/50
20/20 [==============================] - 40s 2s/step - loss: 4134.1909
Epoch 35/50
20/20 [==============================] - 40s 2s/step - loss: 3789.4653
Epoch 36/50
20/20 [==============================] - 40s 2s/step - loss: 3459.2703
Epoch 37/50
20/20 [==============================] - 40s 2s/step - loss: 3153.1948
Epoch 38/50
20/20 [==============================] - 40s 2s/step - loss: 2867.8142
Epoch 39/50
20/20 [==============================] - 40s 2s/step - loss: 2599.6665
Epoch 40/50
20/20 [==============================] - 40s 2s/step - loss: 2357.6980
Epoch 41/50
20/20 [==============================] - 40s 2s/step - loss: 2132.6614
Epoch 42/50
20/20 [==============================] - 40s 2s/step - loss: 1920.8655
Epoch 43/50
20/20 [==============================] - 40s 2s/step - loss: 1727.8031
Epoch 44/50
20/20 [==============================] - 40s 2s/step - loss: 1557.5675
Epoch 45/50
20/20 [==============================] - 40s 2s/step - loss: 1396.5681
Epoch 46/50
20/20 [==============================] - 40s 2s/step - loss: 1257.1029
Epoch 47/50
20/20 [==============================] - 40s 2s/step - loss: 1127.0510
Epoch 48/50
20/20 [==============================] - 40s 2s/step - loss: 1014.7046
Epoch 49/50
20/20 [==============================] - 40s 2s/step - loss: 910.9629
Epoch 50/50
20/20 [==============================] - 40s 2s/step - loss: 818.7131

In [0]:
prediction = model.predict(np.reshape(np.array(X_test[0]), (1, X_test[0].shape[0], X_test[0].shape[1])))

In [219]:
print('\nPredicted RUL:', prediction[0, -1], '\nRUL:', Y_test[0])

Predicted RUL: [241.65997]
RUL: 112